<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>damn it</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="list-container">
    <h1>Groceries</h1>
    <button id="add">Add Element</button>
    <ul id="list">
        <li><div class="custom-checkbox"></div><p>Мясо</p></li>
        <li><div class="custom-checkbox"></div><p>Молоко</p></li>
        <li><div class="custom-checkbox"></div><p>Сыр</p></li>
    </ul>
    <input type="checkbox">123
</div>

<script src="/script.js"></script>
</body>
</html>